<!DOCTYPE html>
<html lang="en">

<%- include('./partials/Head') %>

<body>
    
    <%- include('./partials/Header') %>
    <div class="container-fluid">
        <div class="container">
            <!--<h1>Carrito de compras</h1>-->
            <!--CARRITO-->
            
            <div class="seguirComprando">
                <button type="button" class="colorBoton botonStyle"><a href="/listadoDeProductos">Seguir Comprando</a></button>
            </div>
            
            <div class="carrito row">
                
                <% for(let i = 0; i < productos.length; i++){ %>
                    <div class="col-10">
                        <div class="row">
                            <img class="col-12 col-md-3" src="../images/Logo_de_PaginaWeb.jpeg" alt="">
                            <div class="col-12 col-md-8">
                                <h4><%=productos[i].nombre%></h5>
                                <h6>Cantidad</h6>
                                <h6>Color</h6>
                                <button type="button" class="colorBoton botonStyle">Eliminar</button>
                            </div>
                            <div class="separacion col-12">
                                <div>
                                </div>
                            </div>
                            <div class="btnDiv col-12">
                                <button type="button" class="continuar botonStyle"><a href="carrito/infoUsuarioCompra">Continuar</a></button>
                            </div>
                        </div>
                    </div>
                    
                    <% } %>
                
                
                
            </div>
            
            <%- include('./partials/footer.ejs') %>
            <%- include('./partials/scripts.ejs') %> 
        </body>
        </html>