<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/Head') %> 
</head>
<body>

    <%- include('./partials/Header') %> 
    <div class="container-fluid">
    <div class="main-container-formulario-productos container">

        <section class="formulario-productos-container row">

            <article class="col-10 categoria-container">
                
                <div class="form-categoria-producto row">
                    <form action="/product/editarProducto/<%=producto.id%>?_method=PUT" method="POST">    
                        <h3 class="titulo-articulo">Seleccione la categoría del producto</h3>
                        <div class="col-12">
                            <div class="row">
                                <% if(producto.categoria.nombre == 'Decoracion') { %>
                                    <span class="col-5 col-lg-3"><input type="radio" name="categoria" value=3 checked>Deco.</span>
                                <% } else { %>
                                    <span class="col-5 col-lg-3"><input type="radio" name="categoria" value=3 >Deco.</span>
                                <% } %>
                                <% if(producto.categoria.nombre == 'Baño') { %>
                                    <span class="col-5 col-lg-3"><input type="radio" name="categoria" value=1 checked>Baño</span>
                                <% } else { %>
                                    <span class="col-5 col-lg-3"><input type="radio" name="categoria" value=1>Baño</span>
                                <% } %>  

                                <% if(producto.categoria.nombre == 'Cocina') { %>
                                    <span class="col-5 col-lg-3"><input type="radio" name="categoria" value=2 checked>Cocina</span>                      
                                <% } else {%> 
                                    <span class="col-5 col-lg-3"><input type="radio" name="categoria" value=2>Cocina</span>  
                                <% } %> 
                                
                                <% if(producto.categoria.nombre == 'Otros') { %>
                                    <span class="col-5 col-lg-3"><input type="radio" name="categoria" value=4 checked>Otros</span>
                                <% } else {%> 
                                    <span class="col-5 col-lg-3"><input type="radio" name="categoria" value=4>Otros</span>  
                                <% } %>
                            </div>
                        </div>
                    </form>
                </div>

            </article>

            <article class="col-10 datos-container">
                <h3 class="titulo-articulo">
                    Editar producto
                </h3>

                <div class="datos-productos-container">
                    
                    <form action="/product/editarProducto/<%= producto.id %>?_method=put" method="post" enctype="multipart/form-data">                  
                        
                        <div class="row">
                            <div class="col-10"> 
                                <div class="row">
                                    <label class="col-11" for="">Nombre</label>
                                    <input class="inputStyle col-11" type="text" id="nombreProducto" placeholder="Nombre..." name="nombreProducto" value="<%=producto.nombreProducto%>">
                                </div>
                            </div>            
                            <div class="col-10 col-md-2">
                                <div class="row">
                                    <label class="col-12" for="">Precio</label>
                                    <input class="inputStyle col-6 col-md-11" type="text" id="" placeholder="$Precio..." name="precio" value="<%= producto.precio %>" >
                                </div>
                            </div>
                            <div class="col-10 col-md-2">
                                <div class="row">
                                    <label class="col-12" for="">Stock</label>
                                    <input class="inputStyle col-6 col-md-11" type="number" id="stock" placeholder="Stock..." name="stock" value="<%= producto.stock %>">
                                </div>
                            </div>    
                            <div class="col-10 col-md-2">
                                <div class="row">
                                    <label class="col-12" for="">Descuento</label>
                                    <% if(producto.descuento == " "){ %> 
                                        <input class="inputStyle col-6 col-md-11" type="number" id="" placeholder="Descuento %..." name="descuento" value=" ">
                                    <% } else {%> 
                                        <input class="inputStyle col-6 col-md-11" type="text" id="" placeholder="Descuento %..." name="descuento" value="<%= producto.descuento %>">
                                    <% } %>
                                </div> 
                            </div>                  
                            <div class="col-10">
                                <div class="row">
                                    <label class="col-12" for="">Descripción</label>
                                    <textarea class="inputStyle col-11" name="descripcionProducto" id="descripcionProducto" cols="30" rows="5" placeholder="Descripción"><%= producto.descripcionProducto %></textarea>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <!--name="colores" id="colores"-->
                                <div class="row">
                                    <label class="col-12" for="colores" id="colores">Colores</label>
                                    <div class="col-5 col-sm-3 formColorDiv">
                                        <% if(producto.colores == "amarillo") { %>
                                            <input type="checkbox" id="color-amarillo" name="color-amarillo" value="1" checked>
                                        <% } else { %>
                                            <input type="checkbox" id="color-amarillo" name="color-amarillo" value="1">
                                        <% } %>
                                        <label for="color-amarillo">Amarillo</label>
                                    </div>
                                    <div class="col-5 col-sm-3 formColorDiv">
                                        <% if(producto.colores == "azul") { %>
                                            <input type="checkbox" id="color-azul" name="color-azul" value="2" checked>
                                        <% } else { %>
                                            <input type="checkbox" id="color-azul" name="color-azul" value="2">
                                        <% } %>
                                        <label for="color-azul">Azul</label>
                                    </div>
                                    <div class="col-5 col-sm-3 formColorDiv">
                                        <% if(producto.colores == "blanco") { %>
                                            <input type="checkbox" id="color-blanco" name="color-blanco" value="3" checked>
                                        <% } else { %>
                                            <input type="checkbox" id="color-blanco" name="color-blanco" value="3">
                                        <% } %>
                                        <label for="color-blanco">Blanco</label>
                                    </div>
                                    <div class="col-5 col-sm-3 formColorDiv">
                                        <% if(producto.colores == "marron") { %>
                                            <input type="checkbox" id="color-marron" name="color-marron" value="4" checked>
                                        <% } else { %>
                                            <input type="checkbox" id="color-marron" name="color-marron" value="4">
                                        <% } %>
                                        <label for="color-marron">Marron</label>
                                    </div>
                                    <div class="col-5 col-sm-3 formColorDiv">
                                        <% if(producto.colores == "negro") { %>
                                            <input type="checkbox" id="color-negro" name="color-negro" value="5" checked>
                                        <% } else { %>
                                            <input type="checkbox" id="color-negro" name="color-negro" value="5">
                                        <% } %>
                                        <label for="color-negro">Negro</label>
                                    </div>
                                    <div class="col-5 col-sm-3 formColorDiv">
                                        <% if(producto.colores == "rojo") { %>
                                            <input type="checkbox" id="color-rojo" name="color-rojo" value="6" checked>>
                                        <% } else { %>
                                            <input type="checkbox" id="color-rojo" name="color-rojo" value="6">  
                                        <% } %>
                                        <label for="color-rojo">Rojo</label>
                                    </div>
                                    <div class="col-5 col-sm-3 formColorDiv">
                                        <% if(producto.colores == "Rosa") { %>
                                            <input type="checkbox" id="color-rosa" name="color-rosa" value="7" checked>
                                        <% } else { %>
                                            <input type="checkbox" id="color-rosa" name="color-rosa" value="7">
                                        <% } %>
                                        <label for="color-rosa">Rosa</label>
                                    </div>
                                    <div class="col-5 col-sm-3 formColorDiv">
                                        <% if(producto.colores == "verde") { %>
                                            <input type="checkbox" id="color-verde" name="color-verde" value="8" checked>
                                        <% } else { %>   
                                            <input type="checkbox" id="color-verde" name="color-verde" value="8">
                                        <% } %>
                                        <label for="color-verde">Verde</label>
                                    </div>
                                    <div class="col-5 col-sm-3 formColorDiv">
                                        <% if(producto.colores == "otro") { %>
                                            <input type="checkbox" id="color-otro" name="color-otro" value="9" checked>
                                        <% } else { %>
                                            <input type="checkbox" id="color-otro" name="color-otro" value="9">
                                        <% } %>
                                        <label for="color-otro">Otro</label>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-12 sustentabilidad">
    
                                <div class="row">
                                    <label class="col-12">Categoria</label>
    
                                    <p class='col-6 col-md-4'><input class='inputStyle' type='checkbox' name='sustentabilidad' value='4'
                                        <% for(let i = 0 ; i < producto.sustentabilidad.length; i++) { %>
                                            <%= (producto.sustentabilidad[i] == 4) ? 'checked' : '' %>
                                        <% } %>  
                                    >Vegano</p>
    
                                    <p class='col-6 col-md-6'><input class='inputStyle' type='checkbox' name='sustentabilidad' value='1'
                                        <% for(let i = 0 ; i < producto.sustentabilidad.length; i++) { %>
                                            <%= (producto.sustentabilidad[i] == 1) ? 'checked' : '' %>
                                        <% } %>  
                                    >Cruelty-free</p>
    
                                    <p class='col-6 col-md-4'><input class='inputStyle' type='checkbox' name='sustentabilidad' value='3'
                                        <% for(let i = 0 ; i < producto.sustentabilidad.length; i++) { %>
                                            <%= (producto.sustentabilidad[i] == '3') ? 'checked' : '' %>
                                        <% } %>  
                                    >Fair-trade</p>
                                        
                                    <p class='col-6 col-md-6'><input class='inputStyle' type='checkbox' name='sustentabilidad' value='2'
                                        <% for(let i = 0 ; i < producto.sustentabilidad.length; i++) { %>
                                            <%= (producto.sustentabilidad[i] == 2) ? 'checked' : '' %>
                                        <% } %>  
                                    >Envoltorio-sustentable</p>
                                </div> 
                            </div>
                            
                            <div class="col-12">
                                <div class="row">
                                    <h4 class="col-12 mb-3 titulo-imagenes">Añadir imágenes</h4>
                                    <div class="col-12 col-md-3 mt-2 mb-3 row">
                                        <img class="col-12" src="/images/productos/<%= producto.imagen1 %>" alt="">
                                        <input class="mt-2 mb-3 inputSeleccionarArchivo" type="file" name="imagen1">
                                        <input type="button" id="botonSeleccionarImg" value="Seleccionar imagen">
                                    </div>
                                    <div class="col-12 col-md-3 mt-2 mb-3 row">
                                        <img class="col-12" src="/images/productos/<%= producto.imagen2 %>" alt="">
                                        <input class="mt-2 mb-3 inputSeleccionarArchivo" type="file" name="imagen2">
                                        <input type="button" id="botonSeleccionarImg" value="Seleccionar imagen">
                                    </div>
                                    <div class="col-12 col-md-3 mt-2 mb-3 row">
                                        <img class="col-12" src="/images/productos/<%= producto.imagen3 %>" alt="">
                                        <input class="mt-2 mb-3 inputSeleccionarArchivo" type="file" name="imagen3">
                                        <input type="button" id="botonSeleccionarImg" value="Seleccionar imagen">
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-12 mt-2 d-flex justify-content-center">
                                <a href=""><button class="botonStyle col-12" type="submit">Guardar cambios</button></a>
                            </div>
                        </div>

                    </form>
                </div>
            </article>

        </section>
        
    </div>
    <%- include('./partials/footer') %> 
    </div>
    <%- include('./partials/scripts') %> 
</body>
</html>