<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/Head') %> 
</head>
<body>

    <%- include('./partials/Header') %> 
    <div class="container-fluid">
    <div class="main-container-formulario-productos container">

        <section class="formulario-productos-container row">

            <article class="col-10 categoria-container">
                
                <form action="/product/editarProducto/<%=producto.id%>?_method=PUT" method="POST" class="row">    
                    <h3 class="col-12 titulo-articulo">Seleccione la categoría del producto</h3>

                    <% if(producto.categoria == 'Decoracion') { %>
                        <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="Decoracion" checked>Decoración</p>
                    <% } else { %>
                        <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="Decoracion" >Decoración</p>
                    <% } %>
                    <% if(producto.categoria == 'Baño') { %>
                        <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="Banio" checked>Baño</p>
                    <% } else { %>
                        <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="Banio">Baño</p>
                    <% } %>  
                           
                    <% if(producto.categoria == 'Cocina') { %>
                        <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="Cocina" checked>Cocina</p>                      
                    <% } else {%> 
                        <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="Cocina">Cocina</p>  
                    <% } %> 
                    
                    <% if(producto.categoria == 'Otros') { %>
                        <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="Otros" checked>Otros</p>
                    <% } else {%> 
                        <p class="col-5 col-lg-3"><input type="radio" name="categoria" value="Otros">Otros</p>  
                    <% } %> 
                    
                </form>

            </article>

            <article class="col-10 datos-container">
                <h3 class="titulo-articulo">
                    Editar producto
                </h3>

                <div class="datos-productos-container">
                    <form class="row" action="/product/editarProducto/<%= producto.id %>?_method=put" method="post" enctype="multipart/form-data">                  
                        
                        <div class="col-6 row "> 
                            <label class="col-12" for="">Nombre</label>
                            <input class="inputStyle col-11" type="text" id="nombreProducto" placeholder="Nombre..." name="nombreProducto" value="<%=producto.nombreProducto%>">
                        </div>            
                        <div class="col-3 col-lg-5 row "> 
                            <label class="col-12" for="">Precio</label>
                            <input class="inputStyle col-11" type="text" id="" placeholder="$Precio..." name="precio" value="<%= producto.precio %>" >
                        </div>
                        <div class="col-5 col-lg-5 row "> 
                            <label class="col-12" for="">Stock</label>
                            <input class="inputStyle col-11" type="text" id="stock" placeholder="Stock..." name="stock" value="<%= producto.stock %>">
                        </div>    
                        <div class="col-5 col-lg-5 row "> 
                            <label class="col-12" for="">Descuento</label>
                            <% if(producto.descuento == " "){ %> 
                                <input class="inputStyle col-11" type="text" id="" placeholder="Descuento %..." name="descuento" value=" ">
                            <% } else {%> 
                                <input class="inputStyle col-11" type="text" id="" placeholder="Descuento %..." name="descuento" value="<%= producto.descuento %>">
                            <% } %> 
                        </div>                  
                        <div class="col-10 row">
                            <label class="col-12" for="">Descripción</label>
                            <textarea class="inputStyle col-11" name="descripcionProducto" id="descripcionProducto" cols="30" rows="5" placeholder="Descripción"><%= producto.descripcionProducto %></textarea>
                        </div>
                        
                        <div class="col-12 row">
                            <!--name="colores" id="colores"-->
                                <div class="col-12" >
                                    <div class="row">

                                        <label class="col-12" for="colores" id="colores">Colores</label>

                                        <div class="col-5 col-sm-3 formColorDiv">
                                            <% if(producto.colores == "azul") { %>
                                                <input type="checkbox" id="color-azul" name="color-azul" value="azul" checked>
                                            <% } else { %>
                                                <input type="checkbox" id="color-azul" name="color-azul" value="azul">
                                            <% } %>
                                            <label for="color-azul">Azul</label>
                                        </div>

                                        <div class="col-5 col-sm-3 formColorDiv">
                                            <% if(producto.colores == "rojo") { %>
                                                <input type="checkbox" id="color-rojo" name="color-rojo" value="rojo" checked>>
                                            <% } else { %>
                                                <input type="checkbox" id="color-rojo" name="color-rojo" value="rojo">  
                                            <% } %>
                                            <label for="color-rojo">Rojo</label>
                                        </div>

                                        <div class="col-5 col-sm-3 formColorDiv">
                                            <% if(producto.colores == "Rosa") { %>
                                                <input type="checkbox" id="color-rosa" name="color-rosa" value="rosa" checked>
                                            <% } else { %>
                                                <input type="checkbox" id="color-rosa" name="color-rosa" value="rosa">
                                            <% } %>
                                            <label for="color-rosa">Rosa</label>
                                        </div>

                                        <div class="col-5 col-sm-3 formColorDiv">
                                            <% if(producto.colores == "amarillo") { %>
                                                <input type="checkbox" id="color-amarillo" name="color-amarillo" value="Amarillo" checked>
                                            <% } else { %>
                                                <input type="checkbox" id="color-amarillo" name="color-amarillo" value="Amarillo">
                                            <% } %>
                                            <label for="color-amarillo">Amarillo</label>
                                        </div>

                                        <div class="col-5 col-sm-3 formColorDiv">
                                            <% if(producto.colores == "verde") { %>
                                                <input type="checkbox" id="color-verde" name="color-verde" value="verde" checked>
                                            <% } else { %>   
                                                <input type="checkbox" id="color-verde" name="color-verde" value="verde">
                                            <% } %>
                                            <label for="color-verde">Verde</label>
                                        </div>

                                        <div class="col-5 col-sm-3 formColorDiv">
                                            <% if(producto.colores == "blanco") { %>
                                                <input type="checkbox" id="color-blanco" name="color-blanco" value="blanco" checked>
                                            <% } else { %>
                                                <input type="checkbox" id="color-blanco" name="color-blanco" value="blanco">
                                            <% } %>
                                            <label for="color-blanco">Blanco</label>
                                        </div>

                                        <div class="col-5 col-sm-3 formColorDiv">
                                            <% if(producto.colores == "negro") { %>
                                                <input type="checkbox" id="color-negro" name="color-negro" value="negro" checked>
                                            <% } else { %>
                                                <input type="checkbox" id="color-negro" name="color-negro" value="negro">
                                            <% } %>
                                            <label for="color-negro">Negro</label>
                                        </div>

                                        <div class="col-5 col-sm-3 formColorDiv">
                                            <% if(producto.colores == "marron") { %>
                                                <input type="checkbox" id="color-marron" name="color-marron" value="marron" checked>
                                            <% } else { %>
                                                <input type="checkbox" id="color-marron" name="color-marron" value="marron">
                                            <% } %>
                                            <label for="color-marron">Marron</label>
                                        </div>

                                        <div class="col-5 col-sm-3 formColorDiv">
                                            <% if(producto.colores == "otro") { %>
                                                <input type="checkbox" id="color-otro" name="color-otro" value="otro" checked>
                                            <% } else { %>
                                                <input type="checkbox" id="color-otro" name="color-otro" value="otro">
                                            <% } %>
                                            <label for="color-otro">Otro</label>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>     

                        <div class="col-12 sustentabilidad row">

                            <label class="col-12">Categoria</label>

                            <p class='col-12 col-md-4'><input class='inputStyle' type='checkbox' name='sustentabilidad' value='Vegano'
                                <% for(let i = 0 ; i < producto.sustentabilidad.length; i++) { %>
                                    <%= (producto.sustentabilidad[i] == 'Vegano') ? 'checked' : '' %>
                                <% } %>  
                            >Vegano</p>

                            <p class='col-12 col-md-6'><input class='inputStyle' type='checkbox' name='sustentabilidad' value='Cruelty-free'
                                <% for(let i = 0 ; i < producto.sustentabilidad.length; i++) { %>
                                    <%= (producto.sustentabilidad[i] == 'Cruelty-free') ? 'checked' : '' %>
                                <% } %>  
                            >Cruelty-free</p>

                            <p class='col-12 col-md-4'><input class='inputStyle' type='checkbox' name='sustentabilidad' value='fair-trade'
                                <% for(let i = 0 ; i < producto.sustentabilidad.length; i++) { %>
                                    <%= (producto.sustentabilidad[i] == 'fair-trade') ? 'checked' : '' %>
                                <% } %>  
                            >fair-trade</p>
                                
                            <p class='col-12 col-md-6'><input class='inputStyle' type='checkbox' name='sustentabilidad' value='Envoltorio-sustentable'
                                <% for(let i = 0 ; i < producto.sustentabilidad.length; i++) { %>
                                    <%= (producto.sustentabilidad[i] == 'Envoltorio-sustentable') ? 'checked' : '' %>
                                <% } %>  
                            >Envoltorio-sustentable</p>
                                
                        </div>
                        
                        <div class="col-12 row">
                            <h4 class="col-12 mb-3 titulo-imagenes">Añadir imágenes</h4>

                            <input class="mt-2 mb-3 col-12 col-md-3" type="file" name="imagen1">
                            <input class="mt-2 mb-3 col-12 col-md-3" type="file" name="imagen2">
                            <input class="mt-2 mb-3 col-12 col-md-3" type="file" name="imagen3">

                        </div>

                        <div class="col-12 mt-2 d-flex justify-content-center">
                            <a href=""><button class="botonStyle col-12" type="submit">Guardar cambios</button></a>
                        </div>

                    </form>
                </div>
            </article>

        </section>
        
    </div>
    <%- include('./partials/footer') %> 
    </div>
    <%- include('./partials/scripts') %> 
</body>
</html>